*{
  box-sizing:border-box;
  margin:0px;padding:0px;
}

body{
  background-color:#1b1b1b;
  font-family:tahoma;
  font-size:20px;
}

body > cover{
  backdrop-filter: blur(10px);
  width:100vw;
  height:100vh;
  position:fixed;
  top:0px;
  left:0px;
  z-index:-3;

  transition:0.2s opacity;
}

body > menu{
  background-color:#100f10;
  width:auto;
  max-width:80vw;
  min-width:50vw;
  height:100vh;
  padding:20vh 0px;

  position:fixed;
  top:0px;
  left:0px;
  transform:translateX(-100%);
  z-index:4;

  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;

  transition:0.2s ease-in-out transform;
}
body > menu > a{
  text-decoration:none;
  font-size:2em;
  text-transform:uppercase;
  color:rgba(255, 255, 255, 0.67);

  transform:translateX(-50px);
  opacity:0;
}
body > menu > a.fadeIn{
  opacity:1;
  transform:translateX(0px);
  transition:0.2s ease-in;
  transition-property:opacity, transform;
}

body > header{
  backdrop-filter: blur(20px);
  position:sticky;
  top:0px;
  left:0px;
  padding:0px 20px;

  display:grid;
  grid-template-columns:60px auto 60px;
  place-items:center;
}
body > header > img{
  height:60px;
}
body > header > span{
  color:rgba(255, 255, 0, 1);
  font-family:monospace;
  font-size:2em;
}

body > main{
  padding:3rem;
}
body > main > p{
  color:rgba(255, 255, 255, 0.96);
  font-size:1.2em;
  letter-spacing:3px;
  text-align:justify;
}
